[Unit]
Description=Temperature HomeKit service
Wants=network.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/hc-temp-sensor -storagePath=/var/lib/hc-temp-sensor
Restart=always
RestartSec=3
User=hc-dht
Group=hc-dht

[Install]
WantedBy=multi-user.target
